h1 {
    text-align: center;
}

h2 {
    color: #B94A48;
    font-size: 1.3em;
    margin-bottom: 1rem;
}

section > article:last-child {
    border-bottom: none;
}

article {
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px solid #cccccc;
}