

img
{
    margin-top: 15px;
    margin-bottom: 20px;
}

nav
{
    background-image: url('../images/background.svg');
    height: 80px;
}

h1
{
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    line-height: 1.1;
    margin-top: 20px;
}

hr
{
    width: 10%;
    border-width: 2px;
    border-color: #16a085;
}

.div-error,.div-404
{
    font-family: 'AG Stencil';
    text-shadow: 0.5px 0.5px 1px gray;
}

.div-error
{
    color: #336799;
    font-size: 150px;
}

.div-404
{
    margin-top: -30px;
    color: #CA3338;
    font-size: 200px;
}
