<!doctype html>
<html lang="es" data-pgc-set-master data-pgc-edit="language[lang, no_content]">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title data-pgc-edit="page_title">Software de Contabilidad y Facturación en la Nube para Pymes - Guia de Arranque</title>
        <meta name="description" content="El objetivo de este guía es mostrarle la secuencia que usamos para ingresar la información de la empresa demo para que usted pueda entender de donde viene y aplicar la misma lógica en la evaluación e implementación del software en su empresa." data-pgc-edit="page_description[content]">
        <link rel="shortcut icon" href="../images/favicon.png">
        <!-- Custom styles for filters -->
        <link href="../css/isotope.css" rel="stylesheet" type="text/css">
        <!-- Custom styles for this template -->
        <link href="../css/style.css" rel="stylesheet" type="text/css">
        <link href="../css/videos.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Cabin:600|Quattrocento+Sans" rel="stylesheet" type="text/css">
        <link href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" rel="stylesheet" type="text/css">
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.2/masonry.pkgd.min.js"></script>
        <script src="https://app.bentonow.com/9c5a371da42c74916eae026fa650687d.js" data-pgc-edit="bento-id[src]"></script>
        <script async src="https://www.googletagmanager.com/gtag/js?id=AW-1042441796"></script>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-2211383-1"></script>
        <script type="text/javascript" src="../js/hotjar.js"></script>
        <script type="text/javascript" src="../js/fullstory.js"></script>
    </head>
    <body>
        <div class="wrapper">
            <div id="app" class="grid">
                <div class="header">
                    <h1>{{ title }}</h1>
                    <h3>{{ subtitle }}</h3>
                    <div>
</div>
                </div>
                <div class="tags" style="display: none;">
                    <ul class="filter">
                        <li class="active" v-for="(tag, key) in tags">
                            <a href="#" :data-filter="key == '*' ? key : '.' + key">{{ tag }}</a>
                        </li>
                    </ul>
                    <!-- /.gallery-filter -->
                </div>
                <div data-masonry-options='{ "itemSelector": ".sheet" }' class="flex-container videos">
                    <div :class="['sheet-img-'+video.icon, video.tags]" class="sheet" v-for="video in videos">
                        <h2>{{ video.title }}</h2>
                        <div id="app1">
                            <a :href="video.title | slugify" :video-id="video.id"> <div class="sheet-img" :class="'sheet-img-'+video.icon">
                                    <i class="fa-3x fa-play-circle fas play-btn"></i>
                                </div> </a>
                        </div>
                        <p>{{ video.desc }}</p>
                    </div>
                    <!-- fin del v-for -->
                </div>
            </div>
        </div>
        <script type="text/javascript" src="../js/gs-es.js" data-pgc-edit="data[src]"></script>
        <script src="../js/jquery.min.js"></script>
        <script type="text/javascript" src="../js/plugins.js"></script>
        <script type="text/javascript" src="../js/isotope.js"></script>
        <script type="text/javascript" src="../js/v-app.js"></script>
        <script type="text/javascript" src="../js/bento.js"></script>
    </body>
</html>
