<!doctype html>
<html lang="en" data-pgc-set-master>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title data-pgc-edit="page_title">Preguntas Frecuentes sobre nuestro Software de Contabilidad Gerencial Simple y Facíl de usar en la Nube para Pymes</title>
        <meta name="description" content="Las preguntas y respuestas más comunes sobre nuestro software de contabilidad gerencial" data-pgc-edit="page_description[content]">
        <link rel="shortcut icon" href="../images/favicon.png">
        <!-- Bootstrap core CSS -->
        <link href="../bootstrap4/css/bootstrap.css" rel="stylesheet" type="text/css">
        <!-- Custom styles for this template -->
        <link href="../css/style.css" rel="stylesheet" type="text/css">
        <link href="../css/faqs.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Cabin:600|Quattrocento+Sans" rel="stylesheet" type="text/css">
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.2/masonry.pkgd.min.js"></script>
        <script type="text/javascript" src="../js/fullstory.js"></script>
        <script type="text/javascript" src="../js/logrocket.js"></script>
        <script type="text/javascript" src="../js/gtag.js"></script>
        <script type="text/javascript" src="../js/chat.js"></script>
        <script type="text/javascript" src="../js/hotjar.js"></script>
    </head>
    <body>
        <section id="app">
            <h1>{{ title }}</h1>
            <div id="panels" role="tablist">
                <article v-for="question in questions" :id="question.id" class="card">
                    <div class="card-header" role="tab">
                        <h2><a data-toggle="collapse" :href="'#collapse'+question.order" aria-expanded="false" aria-controls="'collapse'+question.order" class="collapsed">{{ question.title }}</a></h2>
                    </div>
                    <div :id="'collapse'+question.order" class="collapse" role="tabpanel" data-parent="#panels">
                        <p v-for="answ in question.answer" v-html="answ" class="card-body"></p>
                    </div>
                </article>
            </div>
        </section>
        <script type="text/javascript" src="../js/faqs-es.js" data-pgc-edit="data[src]"></script>
        <script src="../assets/js/jquery.min.js"></script>
        <script src="../assets/js/popper.js"></script>
        <script src="../bootstrap4/js/bootstrap.min.js"></script>
        <script src="https://app.bentonow.com/9c5a371da42c74916eae026fa650687d.js" data-pgc-edit="bento-id[src]"></script>
        <script type="text/javascript" src="../js/bento.js"></script>
        <noscript>
            <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=2643049546010302&ev=PageView&noscript=1"/>
        </noscript>
    </body>
</html>
