<!doctype html>
<html lang="es" data-pgc-set-master data-pgc-edit="language[lang, no_content]">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title data-pgc-edit="page_title">Video Tutoriales de nuestro Software de Contabilidad Gerencial Simple y Facíl de usar en la Nube para Pymes</title>
        <meta name="description" content="Una colección de videos cortos que muestran lo que puede hacer con nuestro software de contabilidad gerencial" data-pgc-edit="page_description[content]">
        <link rel="shortcut icon" href="../images/favicon.png">
        <!-- Custom styles for filters -->
        <!-- Custom styles for this template -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js"></script>
        <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js"></script>
        <script async src="https://www.googletagmanager.com/gtag/js?id=AW-1042441796"></script>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-2211383-1"></script>
        <script type="text/javascript" src="../js/fullstory.js"></script>
        <script type="text/javascript" src="../js/drift.js"></script>
        <script type="text/javascript" src="../js/hotjar.js"></script>
        <script type="text/javascript" src="../js/fb.js"></script>
        <link href="../css/isotope.css" rel="stylesheet" type="text/css">
        <link href="../css/help.css" rel="stylesheet" type="text/css">
        <link href="../css/videos.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Cabin:600|Quattrocento+Sans" rel="stylesheet" type="text/css">
        <link href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" rel="stylesheet" type="text/css">
        <style></style>
    </head>
    <body>
        <div id="app">
            <div class="header">
                <div class="header-top">
                    <div>
                        <a href="https://www.myabakus.com/"> <img src="../images/logo.svg" alt="Logo"> </a>
                    </div>
                    <div>
                        <h1>{{ title }}</h1>
                    </div>
                </div>
                <div class="header-bottom">
                    <p> {{ subtitle }} </p>
                </div>
            </div>
            <hr/>
            <div class="tags">
                <ul class="filter">
                    <li v-for="(tag, key) in tags">
                        <a href="#" :data-filter="key == '*' ? key : '.' + key">{{ tag }}</a>
                    </li>
                </ul>
                <!-- /.gallery-filter -->
            </div>
            <div class="isotope-gallery-container js-masonry videos" data-masonry='{"itemSelector": ".sheet", "fitWidth": true }'>
                <div :class="['sheet-img-'+video.icon, video.tags]" class="sheet" v-for="video in videos.slice().reverse()">
                    <h2>{{ video.title }}</h2>
                    <div id="app1">
                        <a :href="video.title | slugify" :video-id="video.id"> <div class="sheet-img" :class="'sheet-img-'+video.icon">
                                <i class="fa-3x fa-play-circle fas play-btn"></i>
                            </div> </a>
                    </div>
                    <p>{{ video.desc }}</p>
                </div>
                <!-- fin del v-for -->
            </div>
        </div>
        <script type="text/javascript" src="../js/videos-es.js" data-pgc-edit="data[src]"></script>
        <script src="../js/jquery.min.js"></script>
        <script type="text/javascript" src="../js/plugins.js"></script>
        <script type="text/javascript" src="../js/isotope.js"></script>
        <script type="text/javascript" src="../js/v-app.js"></script>
        <script src="https://app.bentonow.com/9c5a371da42c74916eae026fa650687d.js" data-pgc-edit="bento-id[src]"></script>
        <script type="text/javascript" src="../js/bento.js"></script>
        <noscript>
            <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=2643049546010302&ev=PageView&noscript=1"/>
        </noscript>
    </body>
</html>
